#body {
  background-color: #e5faf9;
}

nav {
  display: flex;
  background-color: #6bcfcc;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav > ul {
  display: flex;
  align-items: center;
  /* padding: 0 10%;
  margin: 0 20px 20px 20px; */
  list-style: none;
}

nav > ul > li > a {
  font-size: 16px;
  padding: 0 15px;
  color: white;
  transition: 0.2s;
  text-transform: uppercase;
}

nav > ul > li > a:hover {
  transition: 0.2s;
  color: brown;
}

.container {
  height: 300px;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero {
  padding-top: 130px;
  width: 100%;
}

.hero img {
  border-style: none;
  border-radius: 50%;
  margin: 0 auto;
  max-width: 300px;
  display: block;
}

h1 {
  color: black;
  text-align: center;
  font-size: 24px;
  margin: 30px 0px 100px;
}

.aboutme {
  display: flex;
  width: 90%;
  max-width: 1100px;
  background-color: white;
  text-align: left;
  padding: 40px 50px 70px;
  margin: 0 auto;
  box-shadow: 10px 10px 0px rgb(red, green, blue), -10px -10px;
}
