body {
  background-color: antiquewhite;
}

#todo-app {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid black;
  height: 700px;
  width: 700px;
  background-color: lightcoral;
}

#add-task {
  margin-left: 10%;
  margin-right: 10%;
}

#input-box {
  height: 20px;
  width: 300px;
}

#add-btn {
  height: 25px;
  width: 70px;
}
