body {
  background-color: bisque;
}

#todo-app {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid black;
  height: 700px;
  width: 700px;
  background-color: #33cccc;
  border-radius: 15px;
}

#add-task {
  margin-left: 10%;
  margin-right: 10%;
}

#input-box {
  height: 30px;
  width: 412px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

#add-btn {
  height: 35.2px;
  width: 80px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#task {
  background-color: white;
  padding: 5px;
  margin-left: 70px;
  margin-top: 5px;
  height: 25px;
  width: 70%;
  border-radius: 1px solid black;
  border-radius: 7px;
}
#task:hover {
  color: green;
  text-decoration: line-through;
}

#welcome-user {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
  color: white;
}
