#header {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  border: 1px solid black;
  background-color: azure;
}

#nav-items {
  display: flex;
  font-weight: bold;
  list-style-type: none;
}

#nav-items > ul {
  list-style-type: none;
  display: flex;
  font-weight: bold;
}

#nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

#nav-items > ul > li:hover {
  text-decoration: underline;
  color: brown;
}

#logo {
  width: 100px;
}

#card {
  background-color: azure;
  width: 170px;
  height: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

#aboutMe {
  margin-top: 100px;
}

#card > img {
  width: 100%;
}

#restaurant-list {
  display: flex;
  padding: 5px;
}

#input-box {
  padding-left: 10px;
}

#get-input {
  background-color: beige;
}

#search-btn {
  background-color: cornflowerblue;
}

#shimmer-card {
  width: 200px;
  height: 250px;
  background-color: lightgrey;
  margin: 10px;
  background: linear-gradient(
    120deg,
    rgba(192, 192, 190, 0.2) 30%,
    rgba(244, 244, 242, 0.2) 50%,
    rgba(217, 216, 217, 0.2) 80%
  );
  animation: shimmer 2s infinite linear;
}

#testid {
  display: flex;
}

#about-me {
  height: 520px;
  width: 100%;
  background-color: rgb(227, 192, 120);
}
#display-aboutme {
  padding: 15%;
  text-align: center;
}

#contactus-component {
  height: 520px;
  width: 90%;
  background-color: lightgray;
  padding: 5%;
  text-align: center;
}
#mail-id {
  color: blueviolet;
  font-weight: bold;
}

#mail-id-input {
  height: 30px;
  width: 500px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#mail-purpuse {
  color: blueviolet;
  font-weight: bold;
  margin-bottom: 50%;
}

#mail-purpuse-input {
  height: 300px;
  width: 500px;
  border-radius: 15px;
}

#submit-form {
  height: 30px;
  width: 100px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: chartreuse;
}

#footer-item {
  padding: 5%;
  margin: 5%;
}
